{% extends 'privado/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/privado/configuracoes.css' %}">
{% endblock %}

{% block content %}
<h1>Configurações</h1>
<div class="card">
    <h2>Usuários</h2>
    <table>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td><button>editar</button>
                    <button onclick="openDialog('simple-dialog')">Excluir</button>
                        <div id="dialog-backdrop" hidden>
                            <div id="simple-dialog" class="dialog" hidden>
                                <button 
                                    style="background-color:#E84855;
                                        margin-left:93%; 
                                        margin-top:1%; height:40px;
                                        weight:40px; padding:5px;"
                                    onclick="closeDialog('simple-dialog')"
                                ><i class="bi bi-x-lg"></i></button>

                                <form method="POST" action="{% url 'excluir_usuario' id=user.id %}">
                                    {% csrf_token %}
                                    <p>Deseja excluir o usuário {{user.first_name}}? Esta ação será permanente!</p>
                                    <p>Senha: <input type="password"></p>
                                    <button style="background:#888">Cancelar</button> 
                                    <button type="submit" name="user_delete" value="Deletar usuário">Excluir</button> 
                                </form>
                            </div>
                        </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    <button>Adicionar usuário</button>
</div>

<div class="card">
    <h2>Parâmetros de referência</h2>
    <div id="parametros">
        <label>Turbidez da água (NTU)</label>
        <input type="number" placeholder="Mínimo">
        <input type="number" placeholder="Máximo">

        <label>Temperatura da água (cº)</label>
        <input type="number" placeholder="Mínimo">
        <input type="number" placeholder="Máximo">

        <label>Quantidade de coliformios (mol/ml)</label>
        <input type="number" placeholder="Mínimo">
        <input type="number" placeholder="Máximo">

        <label>Quandidade escherichia coli</label>
        <input type="number" placeholder="Mínimo">
        <input type="number" placeholder="Máximo">

        <label>Cor</label>
        <input type="number" placeholder="Mínimo">
        <input type="number" placeholder="Máximo">
    </div>
</div>
<footer style="margin-top: 7em;"></footer>


<script src="{% static 'js/dialog.js' %}"></script>
{% endblock %}
