{% extends 'privado/base.html' %}
{% load static %}

{% block content %}
<h1>Edificações</h1>
<table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Bloco</th>
        </tr>
    {% for edificacao in edificacoes %}
        <tr>
            <td>{{ edificacao.codigo }}</td>
            <td>{{ edificacao.nome }}</td>
            <td>{{ edificacao.bloco }}</td>
        </tr>
    {% endfor %}
</table>
<button onclick="window.location.href = '{% url 'criar_edificacao' %}'">Adicionar edificação</button>

{% endblock %}