{% extends 'privado/base.html' %}

{% block content %}
<table>
    {% for amostragem in amostragens %}
        <tr>
            <td>{{ amostragem }}ª amostragem</td>
            <td><a href="{% url 'admin_ponto_coleta_amostragem' ponto_id=ponto.id amostragem=amostragem %}">Visualizar</a></td>
        </tr>
    {% empty %}
        <p>Ainda não há coletas.</p>
    {% endfor %}
</table>
<button onclick="window.location.href = '{% url 'criar_coleta' %}?next={{ request.path }}&p={{ ponto.id }}'">Adicionar coleta</button>
{% endblock %}