{% extends 'privado/base.html' %}
{% load static %}

{% block content %}
<h1>Relatório</h1>
{% for ponto in pontos %}
<div>
    <h1>
        Coleta no {{ ponto.edificacao.nome }}
    </h1>
    <h2>
        {{ ponto.get_tipo_display }} - {{ ponto.ambiente }}
    </h2>
    <table>
        <thead>
            <tr>
                <th>Ordem da coleta</th>
                <th>Temperatura</th>
                <th>Cloro Residual Livre (ml/L)</th>
                <th>Turbidez</th>
                <th>Coliformes Totais (presença / ausência) </th>
                <th>Escherichia Coli (presença / ausência) </th>
                <th>Cor aparente</th>
                <th>Data da Coleta</th>
            </tr>
        </thead>
        <tbody>
            {% for coleta in ponto.coletas %}
                <tr>
                    <td> Coleta </td>
                    <td>{{ coleta.temperatura }}</td>
                    <td>{{ coleta.cloro_residual_livre }}</td>
                    <td>{{ coleta.turbidez }}</td>
                    <td>{{ coleta.coliformes_totais }}</td>
                    <td>{{ coleta.escherichia }}</td>
                    <td>{{ coleta.cor }}</td>
                    <td>{{ coleta.date }}</td>
                    <td><a href="{% url 'editar_coleta' coleta.id %}?next={{ request.path }}">editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
<button onclick="window.location.href = '{% url 'criar_coleta' %}?next={{ request.path }}&p={{ pontos.0.id }}&amostragem={{ amostragem }}'">Adicionar coleta</button>

{% endblock %}