*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: inherit;
    color: inherit;
}
body {
    font-family: 'Montserrat';
    min-height: 100vh;
    background-color: #f3f3f3;
}

button {
    border: none;
    background-color: none;
    cursor: pointer;
}
/* Diminui as animações para navegadores com a configuração ativa */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
.proagua-logo {
    display: flex;
    height: 100%;
    position: absolute;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
}
.proagua-logo span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    user-select: none;
    padding: 10px 0px;
    text-transform: uppercase;
    cursor: pointer;
}
.proagua-logo img {
    height: 2.5rem;
}
#menu-button i, #close-button i, .proagua-logo span {
    font-size: 1.5rem;
    color: white;
}

#header-bar{
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #027BD0;
    align-items: center;
}

#header-bar a{
    text-decoration: none;
    color: white;
    padding: 0 1rem;
}
.proagua-logo {
    display: flex;
    height: 100%;
    position: absolute;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
}
.content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: auto;
    gap: 1rem;
    max-width: 75%;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    width: 20rem;
    height: 20rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
form h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #000;
}
form p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #5A6C79;
    padding: 0 0.5rem;
}

form input {
    width: 90%;
    height: 3rem;
    border: 1px solid #525252;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #5A6C79;
    border: 1px solid #ABABAB;
}

#submit-button {
    background-color: #007ED7;
    border-radius: 8px;
    color:#ffffff;
    width: 90%;
    height: 3rem;
}

@media (max-width: 768px) {
    .content {
        width: 100%;
        max-width: 100%;
        height: calc(100vh - 100px);
    }
    form {
        width: 100%;
        height: 100%;
    }
}


.select:focus-visible, .select:focus, .select:focus-within,
#search-bar:focus-visible, #search-bar:focus, #search-bar:focus-within {
    border: 1px solid #525252;
    outline: none;
}