*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    min-height: 100vh;
    background-color: #f3f3f3;
}
button {
    border: none;
    background-color: none;
}
/* Diminui as animações para navegadores com a configuração ativa */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
#header-bar {
    position: fixed;
    display: flex;
    align-items: center;
}
#header-bar, .navbar-wrapper .navbar-header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #027BD0;
}
.proagua-logo {
    display: flex;
    height: 100%;
    position: absolute;
    left: 50%;
    align-items: center;
    padding: 10px 0px;
    transform: translateX(-50%);
}
.proagua-logo span {
    font-weight: 400;
    user-select: none;
    margin-left: 5px;
    text-transform: uppercase;
}
.proagua-logo img {
    height: 70%;
}
#menu-button, #close-button {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: #027BD0;
    padding: 0;
}
#menu-button:hover, #close-button:hover, .filled-button:hover {
    background-color: #07508b;
}
#menu-button i, #close-button i, .proagua-logo span {
    font-size: 1.5rem;
    color: white;
}
.navbar-wrapper {
    position: fixed;
    width: 0;
    height: 100vh;
    background-color: #f3f3f3;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: .5s ease;
}
.navbar-header #close-button {
    position: absolute;
    right: 0;
}
.navbar-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-links li {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    padding: 10px 0px 10px 10px;
    color: #5A6C79;
}
.navbar-links ul li:hover{
    color: white;
    background-color: #5A6C79;
}
.navbar-links a {
    text-decoration: inherit;
    color: inherit;
    font-weight: 500;
    margin-left: 10px;
    font-size: .8em;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: auto;
    gap: 1rem;
    max-width: 60rem;
    align-items: center;
}
.content h2 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #525252;
}
.wrapper {
    flex-direction: column;
    width: 100%;
}
.result-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    width: 100%;
}
.card {
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(82,82,82,0.2);
}
.card h3 {
    font-size: 1rem;
}
.card h2 {
    font-size: 1.5rem;
    text-align: center;
}
.card p {
    font-size: .8rem;
    color: #525252;
}
.filled-button {
    border-radius: 1.4rem;
    background-color: #027BD0;
    padding: .8rem;
    color: #f3f3f3;
}
.modal-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: transparent;
    border-radius: 5px;
    color: #525252;
}
.modal-button:hover {
    background-color: #EFEFEF;
}
.select, #search-bar {
    border: 1px solid #ABABAB;
    background-color: white;
    color: #525252;
    font-size: 1rem;
    padding: .5rem 0.6rem;
    border-radius: 6px;
}
.bi-search {
    position: absolute;
    top: 50%;
    left: .8rem;
    transform: translateY(-50%);
    color: #525252;
}
#search-bar {
    width: 100%;
    padding: .8rem 0.6rem .8rem 2.5rem;
}
.select:focus-visible, .select:focus, .select:focus-within,
#search-bar:focus-visible, #search-bar:focus, #search-bar:focus-within {
    border: 1px solid #525252;
    outline: none;
}