h1{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #525252;
    font-size: 4.5vh;
}
h2{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #525252;
    margin-top: 1vh;

}

#search-bar2{
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    height: 2vh;
    margin-right: 0.25vw;
    margin-bottom: 4vh;
    font-weight: 100;
}


#content{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.card{
    height: 45vh;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

table, th{
    width: 100%;
    font-family: Roboto, sans-serif;
    color: #525252;
}

td{
    border-left-style: hidden;
    border-right-style: hidden;
}

#add-edif{
    font-size: 2.5vh;
    margin-top: 10vh;
    margin-left: 32.5%;
    font-family: Roboto, sans-serif;
}

#edit{
    font-size: 3vh;
}
#delete{
    font-size: 3vh;
    color: red;
}