<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/lista_pontos.css">
	<link rel="icon" href="../static/images/Logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/586c659954.js" crossorigin="anonymous"></script>
    <title>ProÁgua</title>
</head>
<body>
    <header>
        <nav>
            <a href="javascript:history.back()" class="back">Voltar</a>
            <a href="/" class="logo">
                <img src="../static/images/Logo.svg" alt="Logo do projeto">
                <span>ProÁgua</span></a>
            <a href="/accounts/login" class="login-btn">Login</a>
        </nav>
    </header>
    <div class="content">
        <h1>Pesquisar</h1>
        <form class="search-field" id="pesquise">
            <input type="text" name="search-query" placeholder="Pesquisar">
        </form>

        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Código</th>
                    <th>Edificação</th>
                    <th>Campus</th>
                    <th>Ambiente da Edif.</th>
                    <th>Ponto</th>
                    <th>Nº do Tombo</th>
                </tr>
            </table>
        </div>
        
    </div>
    
    <footer>
        <div class="container">
            <h1>ProÁgua</h1>
            <h5>&#169 2023 - Bom dia.</h5>
            <h5>Todos os direitos reservados.</h5>
        </div>
        <div class="logo-container">
            <img src="../static/images/Logo_ufersa.svg" alt="Logo UFERSA" >
        </div>
    </footer>
</body>

</html>