{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/stylesheets/visu_publica.css' %}">
	<link rel="icon" href="{% static '/images/Logo.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/586c659954.js" crossorigin="anonymous"></script>
    <title>ProÁgua</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static '/images/Logo.svg' %}" alt="Logo do projeto">
                <a href="/">ProÁgua</a>
            </div>
            <form class="search-field" id="pesquise">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search-query" placeholder="Pesquisar">
                <button type="submit" id="btn-pesquisar"><a href="lista_pontos">Pesquisar</a></button>
            </form>
            <div class="login-btn"><a href="/accounts/login">Login</a></div>
        </nav>
    </header>

    <div class="content">
        <div class="info-ponto">
            <label id="label-lado">Ufersa - <i>Campus</i> Mossoró - Lado Leste/Oeste</label>

            <!-- <p id="lado">Leste/Oeste</p>-->

            <p id="nome-edif">Nome da Edificação</p>
            <hr size="1">
            <label id="label-ponto">Ponto coleta - </label>
            <label id="nome-ponto">Nome do Ponto</label><br>
            <!-- pode usar label em um espaço que vai receber info do bd?-->

            <label id="label-data">Data da última coleta: </label>
            <label id="data-ultima-coleta">DD/MM/AAAA</label><br>
        </div>

        <div class="container" id="parametros">
            <div class="card-danger" id="coliformes">
                Coliformes Totais 
                <div class="container">
                    <p>PRESENÇA em 100ml</p>
                    <p>Não conformidade</p>
                    <p id="valores-referencia">VMP<sup>(1)</sup>: Ausência em 100 mL</p>
                </div>
            </div>
            <div class="card-danger" id="coli">
                <i>Escherichia Coli</i>
                <div class="container">
                    <p>PRESENÇA em 100ml</p>
                    <p>Não conformidade</p>
                    <p id="valores-referencia">VMP<sup>(1)</sup>: Ausência em 100 mL</p>
                </div>
                
            </div>
            <div class="card-good" id="turbidez">
                Turbidez
                <div class="container">
                    <p>0.36 uT</p>
                    <p>Em conformidade</p>
                    <p id="valores-referencia">VMP<sup>(1)</sup>: 5.00 uT</p>
                </div>
                
            </div>
            <div class="card-good" id="cor">
                Cor Aparente
                <div class="container">
                    <p>12 uH</p>
                    <p>Em conformidade</p>
                    <p id="valores-referencia">VMP<sup>(1)</sup>: 15 uH</p>
                </div>
                
            </div>
            <div class="card-warning" id="cloro">
                Cloro Residual Livre
                <div class="container">
                    <p>4.99 mg/L</p>
                    <p>Alerta</p>
                    <p id="valores-referencia">Entre<sup>(1)</sup> 0.20 e 5.00 mg/L</p>
                </div>
                
            </div>
            <div class="card" id="temperatura">
                Temperatura
                <div class="container">
                    <p>20ºC</p>
                    <p>Estado não identificado</p>
                    <p id="valores-referencia">Ref. assumida<sup>(2)</sup>: 10,0 a 12,0ºC</p>
                </div>
                
            </div>
        </div>
        <p style="margin: 0 12em 1em 12em">(1): Valores máximos permitidos de acordo com o Anexo XX da Portaria de Consolidação 
            GM/MS nº 5, de 28 de setembro de 2017 alterado pela Portaria GM/MS nº 888, 
            de 04 de maio de 2021 e pela Portaria GM/MS nº 2472, de 28 de setembro de 2021</p>
            
        <p style="margin: 0 12em 4em 12em">(2): Referência adotada com base na Portaria INMETRO n.º 394, 
            de 25 de agosto de 2014, para "equipamento elétrico para consumo de água com refrigeração".
             Observa-se que: (a) a medição de temperatura executada não segue as condições de ensaio 
             previstas nesta Portaria; (b) o valor de referência poderá ser distinto do adotado 
             no presente projeto, a depender das especificações constantes no manual de instruções 
             do equipamento.</p>
    <footer>
        <div class="container">
            <h1>ProÁgua</h4>
            <h5>&#169 2023 - Bom dia.</h5>
            <h5>Todos os direitos reservados.</h5>
        </div>
        <div class="logo-container">
            <img src="{% static '/images/Logo_ufersa.svg' %}" alt="Logo UFERSA" >
        </div>
    </footer>
</body>

</html>