<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/stylesheets/password_reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Redefinir senha</title>
</head>

<body>
    <div id="header-bar">
        <a href="javascript:history.back()">Voltar</a>
        <div class="proagua-logo">
            <span href="/">
                <img src="../../static/images/Logo.svg" alt="Logo do projeto">
                ProÁgua
            </span>
        </div>
    </div>
    <div class="content">
            <form action="">
                <h2>Redefinir senha</h2>
                <p>Digite o email cadastrado para a recuperação da senha.</p>
                <input type="text" id="email" placeholder="Email">
                <button id="submit-button">Enviar código de recuperação</button>
            </form>
    </div>
</body>
</html>