<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/stylesheets/privado/pontos_coletas.css">
        <link rel="stylesheet" href="../../static/stylesheets/privado/criar_edificacao.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <title>Criar Edificação</title>
    </head>

    <body>
        <div id="header-bar">
            <button id="menu-button" class="collapsed" onclick="openNav()">
                <i class="bi bi-list header-icon"></i>
            </button>
            <div class="proagua-logo">
                <span href="/">
                    <img src="../../static/images/Logo.svg"
                        alt="Logo do projeto">
                    ProÁgua
                </span>
            </div>
        </div>
        <div id="sidebar" class="navbar-wrapper">
            <div class="navbar-header">
                <button id="close-button" class="collapsed" onclick="closeNav()">
                    <i class="bi bi-chevron-left"></i>
                </button>
            </div>
            <div class="navbar-links">
                <ul>
                    <li>
                        <i class="bi bi-clipboard-data-fill"></i>
                        <a href="{% url 'sequencia_coletas' %}">Sequência Coletas</a>
                    </li>
                    <li>
                        <i class="bi bi-buildings-fill"></i>
                        <a href="{% url 'visualizar_edificacoes' %}">Edificações</a>
                    </li>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i>
                        <a href="{% url 'visualizar_pontos' %}">Pontos de Coleta</a>
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill"></i>
                        <a href="#solicitacoes">Solicitações</a>
                    </li>
                    <li>
                        <i class="bi bi-gear-fill"></i>
                        <a href="{% url 'configuracoes' %}">Configurações</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h2>Criar Edificação</h2>
            <div class="flex wrapper">
                <div id="div-container" class="flex"
                    style="flex-direction: column;">
                    <form method="post" action="/api/v1/edificacoes/">
                        <label for="codigo">Código:</label>
                        <input type="text" id="codigo" name="codigo" required>

                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>

                        <label for="campus">Campus:</label>
                        <select type="text" id="campus" name="campus" required>
                            <option value="LE">Leste</option>
                            <option value="OE">Oeste</option>
                        </select>

                        <label for="cronograma">Cronograma:</label>
                        <input type="number" id="cronograma" name="cronograma"
                            required>

                            <div class="center-button">
                                <button type="button" onclick="enviarFormulario()">Criar</button>
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </body>
    <script>
    function openNav() {
        document.getElementById('sidebar').style.width = '15em';
    }

    function closeNav() {
        document.getElementById('sidebar').style.width = '0';
    }

    function enviarFormulario() {
        var codigo = document.getElementById("codigo").value;
        var nome = document.getElementById("nome").value;
        var campus = document.getElementById("campus").value;
        var cronograma = document.getElementById("cronograma").value;

        var json = {
            "codigo": codigo,
            "nome": nome,
            "campus": campus,
            "cronograma": parseInt(cronograma)
        };

        fetch("/api/v1/edificacoes/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(json)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            window.location.href = "{% url 'visualizar_edificacoes' %}";
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }


    </script>
</html>