<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/stylesheets/privado/edificacoes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/586c659954.js"
        crossorigin="anonymous"></script>
    <title>ProÁgua</title>
</head>
<body>
    <div id="header-bar">
        <button id="menu-button" class="collapsed" onclick="openNav()">
            <i class="bi bi-list header-icon"></i>
        </button>
        <div class="proagua-logo">
            <span href="/">
                <img src="../static/images/Logo.svg" alt="Logo do projeto">
                ProÁgua
            </span>
        </div>
    </div>
    <div id="sidebar" class="navbar-wrapper">
        <div class="navbar-header">
            <button id="close-button" class="collapsed" onclick="closeNav()">
                <i class="bi bi-chevron-left"></i>
            </button>
        </div>
        <div class="navbar-links">
            <ul>
                <li>
                    <i class="bi bi-clipboard-data-fill"></i>
                    <a href="{% url 'sequencias_coletas' %}">Sequência Coletas</a>
                </li>
                <li>
                    <i class="bi bi-buildings-fill"></i>
                    <a href="{% url 'visualizar_edificacoes' %}">Edificações</a>
                </li>
                <li>
                    <i class="bi bi-geo-alt-fill"></i>
                    <a href="{% url 'visualizar_pontos' %}">Pontos de Coleta</a>
                </li>
                <li>
                    <i class="bi bi-envelope-fill"></i>
                    <a href="#solicitacoes">Solicitações</a>
                </li>
                <li>
                    <i class="bi bi-gear-fill"></i>
                    <a href="{% url 'configuracoes' %}">Configurações</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex content">
        <span>Edificações</span>
        <div class="flex card">
            <span class="title">Lista de Edificações</span>
            <ul class="flex" id="result-list">
                <!-- Os resultados da pesquisa serão adicionados aqui -->
            </ul>
            <a href="/edificacao/criar" class="flex filled_button">
                <i class="bi bi-plus-lg"></i>
                <span>Adicionar nova edificação</span>
            </a>
        </div>
    </div>
</body>
<script>
    function openNav() {
        document.getElementById('sidebar').style.width = '15em';
    }

    function closeNav() {
        document.getElementById('sidebar').style.width = '0';
    }

    function change_modal_state(element) {
        var parentCard = element.parentNode;
        var modalDisplay = parentCard.querySelector(".modal").style.zIndex;

        parentCard.querySelector(".modal").style.zIndex = modalDisplay === "1" ? "-1" : "1";
    }
</script>
<script src="../../static/js/edificacoes.js"></script>
</html>