{% extends 'privado/base.html' %}

{% block content %}
<h1>{{ ponto.get_tipo_display }} | {{ ponto.edificacao.nome }} - {{ ponto.ambiente }}</h1>
<div>
    <h2>Amostragens</h2>
    <table>
        {% for amostragem in ponto.amostragens.all %}
            <tr>
                <td>{{ amostragem.amostragem }}ª amostragem</td>
                <td><a href="{% url 'visualizar_relatorio' ponto_id=ponto.id amostragem=amostragem.amostragem %}">Visualizar</a></td>
            </tr>
        {% empty %}
            <p>Ainda não há coletas.</p>
        {% endfor %}
    </table>
    <button onclick="window.location.href = '{% url 'criar_amostragem' ponto_id=ponto.id %}'">Adicionar amostragem</button>
</div>
{% endblock %}