{% extends 'privado/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/privado/pontos_coletas.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/dropdown.css' %}">
{% endblock %}

{% block content %}
<h1 id="titulo">Pontos de Coleta</h1>

<div>
    <form class="d-flex" method="GET">
        <input id="search-bar" name="q" type="text" placeholder="Pesquisar"/>
        <button><i class="bi bi-search"></i></button>
        <div id="filters" hidden>
            {{ form_search }}
        </div>
        <button type="button" onclick="mostrarFiltros()"><i class="bi bi-filter"></i> Filtros</button>
    </form>
</div>

<div class="content">
    <div id="board">
        <script>
            const board = document.getElementById("board");
            
            async function createCardPonto(ponto) {
                let card = document.createElement('div');
                let edificacao= await fetch(ponto.links.edificacao.url_edificacao).then(resp => resp.json());

                card.innerHTML = `
                    <div class="card">
                        <div class="dropdown card-options">
                            <button id="dropdown-bt">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <div id="dropdown-content">
                                <a href="#editar">Editar</a>
                                <a href="#excluir">Excluir</a>
                            </div>
                        </div>
                        
                        <p class="codigo">${ edificacao.codigo }</p>
                        <h2 class="nome-edif">${ edificacao.nome }</h2>
                        <p class="ambiente">${ ponto.ambiente}</p>
                        <p>${ ponto.tipo }</p>
                        <a href="#" class="button"><i class="bi bi-eye"></i> Detalhes</a>
                    </div>
                `;
                return card;
            }

            async function main() {
                let resp = await fetch('/api/v1/pontos');
                let pontos = await resp.json();
            
                console.log(pontos);
                pontos.forEach(async (ponto) => {
                    let card = await createCardPonto(ponto);
                    board.insertAdjacentElement('afterbegin', card);
                });
            }

            main();
        </script>

        <div 
            class="card add-card" 
            onclick="window.location.href = '{% url 'criar_ponto' %}'"
        >
            <i class="bi bi-plus-lg"></i>
        </div>
    </div>
</div>

<script src="{% static 'js/dropdown.js' %}">
</script>
<script>
    const filtros = document.getElementById("filters")

    function mostrarFiltros() {
        filtros.hidden = !filtros.hidden
    }
    setupDropdown()
</script>
{% endblock %}