<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/privado/base.css">
    <link rel="stylesheet" href="/static/stylesheets/privado/edificacoes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >
    <script 
        src="https://kit.fontawesome.com/586c659954.js"
        crossorigin="anonymous"
    >
    </script>
    <script src="/static/js/sidebar.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/privado/relatorio.css">
    <title>ProÁgua</title>
</head>
<body>
    <header class="flex">
        <button class="menu-button" class="collapsed" onclick="openNav()">
            <i class="bi bi-list header-icon"></i>
        </button>
        <a class="flex proagua-logo" href="/">
            <img src="/static/images/Logo.svg" alt="Logo do projeto">
            <span>ProÁgua</span>
        </a>
        <a class="flex menu-button" href="/">
            <i class="bi bi-box-arrow-right header-icon"></i>
        </a>
    </header>
    <aside class="navbar-wrapper">
        <div class="flex navbar-header">
            <button class="menu-button" onclick="closeNav()">
                <i class="bi bi-chevron-left"></i>
            </button>
        </div>
        <nav class="navbar-links">
            <ul>
                <li>
                    <a href="/sequencias_coletas/">
                        <i class="bi bi-clipboard-data-fill"></i>
                        <span>Sequência Coletas</span>
                    </a>
                </li>
                <li>
                    <a href="/edificacoes/">
                        <i class="bi bi-buildings-fill"></i>
                        <span>Edificações</span>
                    </a>
                </li>
                <li>
                    <a href="/pontos/">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>Pontos de Coleta</span>
                    </a>
                </li>
                <li>
                    <a href="#solicitacoes">
                        <i class="bi bi-envelope-fill"></i>
                        <span>Solicitações</span>
                    </a>
                </li>
                <li>
                    <a href="/configuracoes/">
                        <i class="bi bi-gear-fill"></i>
                        <span>Configurações</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="flex content">
        <span style="font-size: 2.2rem;">Sequência de coletas</span>
        <div 
            id="container"
            class="flex card"
            style="width: fit-content; max-width: 90%; padding: 2rem; gap: 1rem; height: fit-content;"
        >
            <!-- Conteúdo aqui -->
        </div>
        <button class="floating-bt" onclick="window.location.href = 'http://localhost:8000/coletas/criar'">
            <i class="bi bi-plus-lg"></i> Adicionar coleta
        </button>
    </div>
</body>
<script src="/static/js/base.js"></script>
<script src="/static/js/sequencia.js"></script>
</html>