body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button, input[type=button] {
    border: 1px solid transparent;
    background-color: #027BD0;
    border-radius: 6px;
    padding: 1rem 0.5rem;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.4em;
}
button:hover, input[type=button]:hover {
    background-color: #0896fd;
    cursor: pointer;
}

input[type=text], input[type=password] {
    border: 1px solid #ABABAB;
    background-color: white;
    padding: 1rem 0.6rem;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 700; */
    /* font-size: 1em; */
    line-height: 24px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

#login-container {
    width: 70vw;
    height: 80vh;
    background: #027BD0;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#login-aside-logo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background: url('../images/Blob.svg') #027BD0 no-repeat bottom right;
}

#login-aside-logo h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    user-select: none;
}

#login-form { 
    background-color: #ffffff;
    width: 45%;
    padding: 
        68px
        100px
        200px
        100px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#login-form a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    color: #1098F7;
    align-self: flex-end;
    margin: 25px;
}

#login-form h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 49px;
    align-self: center;
    margin-bottom: 72px;
}

#login-form label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /* font-size: 24px; */
    line-height: 29px;
}

#back-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 29px;
    color: #007ED7;
    text-decoration: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

/* Floating Labels */

.input-box{
    position: relative;
    height: 65px;
    width: 100%;
    margin: 25px 0;
    padding: 0;
  }

  .input-box input:focus,
  .input-box input:valid{
    border-color: #4070F4;
  }
  
  .input-box label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #a6a6a6;
    transition: all 0.3s ease;
    left: 15px;
    font-weight: 400;
    background: #ffffff;
    padding: 0 6px;
    pointer-events: none;
  }
  

.input-box input:focus ~ label,
.input-box input:valid ~ label{
  top: 0;
  font-size: 1em;
  color: #4070F4;
}