:root {
    --ff-primary: 'Montserrat';
    --clr-primary-900: 205 98% 41%;
    --clr-primary-800: 205, 100%, 36%;
    --clr-neutral-900: 0 0% 100%;
    --clr-neutral-800: 0 0% 95%;
    --clr-neutral-400: 205 15% 41%;
    --clr-neutral-200: 0 0% 32%;
    --clr-neutral-100: 0 0% 0%;
}
.content {
    --gap: 2rem;
    padding: 5% 0;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content > span {
    color: hsl(var(--clr-neutral-400));
    font-size: 1.5rem;
    font-weight: 700;
}
.card {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: clamp(280px, 50%, 700px);
    height: max(300px, 60vh);
    background-color: hsl(var(--clr-neutral-900));
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px hsl(var(--clr-neutral-400) / .2);
}
.card > span {
    color: hsl(var(--clr-neutral-400));
    font-size: 1.25rem;
}
.card ul {
    --gap: 1rem;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    flex-direction: column;
    color: hsl(var(--clr-neutral-100));
    font-size: 1rem;
    height: max(200px, 100%);
    font-size: .9rem;
    padding-inline: .5rem;
}
.card ul::-webkit-scrollbar {
    width: 5px;
    z-index: 1;
}
.card ul::-webkit-scrollbar-thumb {
    background-color: hsl(var(--clr-primary-900) / .8);
    border-radius: 2px;
}
.card li {
    position: relative;
    width: 100%;
    --gap: .5rem;
    padding: .5rem;
    border-bottom: 1px solid hsl(var(--clr-neutral-400) / .5);
}
.edification_id {
    width: fit-content;
    max-width: 6ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edification_name {
    max-width: calc(85% - 6ch);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filled-button {
    --gap: 1rem;
    margin-left: auto;
    margin-top: auto;
}
.filled_button:hover {
    background-color: hsl(var(--clr-primary-800));
}
.filled_button i {
    font-size: 1.25rem;
}
.modal-button {
    padding: .5rem;
    background-color: transparent;
    border-radius: 5px;
    color: hsl(var(--clr-neutral-200));
    margin-left: auto;
}
.modal-button:hover {
    background-color: hsl(var(--clr-neutral-200) / .1);
}
.modal {
    --gap: .2rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
    z-index: -1;
    flex-direction: column;
    background-color: white;
    border: 2px solid hsl(var(--clr-neutral-100));
    border-radius: 5px;
    padding: var(--gap);
    box-shadow: 0px 0px 10px 3px hsl(var(--clr-neutral-400) / .2);
}