@import url('/src/apps/frontend/static/stylesheets/privado/base.css');

#div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

form {
    flex-direction: column;
    background-color: var(--primary-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--tertiary-white);
    border-radius: 4px;
}

button {
    background-color: var(--primary-green);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secundary-green);
}

.button-container {
    justify-content: space-evenly;
}

#excluir {
    background-color: var(--primary-red);
}

#excluir:hover {
    background-color: var(--secundary-red);
}

.center-button {
    text-align: center; /* Centraliza o botão */
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25rem;
    padding: 1.5em;
    width: 50%;
    border-radius: 8px;
    background-color: var(--primary-white);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

label{
    font-size: 1.15em;
}

input[type=text], input[type=select]{
    font-weight: 80;
}

#imagePreview{
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}