
.wrapper {
    flex-direction: column;
    width: 100%;
}

#result-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-items: center;
    gap: 2rem;
    width: 100%;
}

.card {
    --gap: .75rem;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(82,82,82,0.2);
    width: clamp(250px, 100%, 320px);
}

.card h3 {
    font-size: 1rem;
}

.card h2 {
    font-size: 1.25rem;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card p {
    font-size: .8rem;
    color: #525252;
    text-align: center;
}

/* .modal {
    --gap: .2rem;
    position: absolute;
    top: 3em;
    right: 1em;
    z-index: -1;
    flex-direction: column;
    background-color: white;
    border: 2px solid #525252;
    border-radius: 5px;
    padding: var(--gap);
    box-shadow: 0px 0px 10px 3px rgba(82,82,82,0.2);
}

.modal-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: transparent;
    border-radius: 5px;
    color: #525252;
}

.modal-button:hover {
    background-color: #EFEFEF;
} */

.select, #search-bar {
    border: 1px solid #ABABAB;
    background-color: white;
    color: #525252;
    font-size: 1rem;
    padding: .5rem 0.6rem;
    border-radius: 6px;
}

.bi-search {
    position: absolute;
    top: 50%;
    left: .8rem;
    transform: translateY(-50%);
    color: #525252;
}

#search-bar {
    width: 100%;
    padding: .8rem 0.6rem .8rem 2.5rem;
}

.select:focus-visible,
#search-bar:focus-visible {
    border: 1px solid #525252;
    outline: none;
}

#nova-coleta {
    align-self: center;
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0.8;
}