@import "./base.css";

.card {
    align-items: start;
}

a {
    color:rgb(18, 18, 189);
    text-decoration-line: underline;
}

table {
    width: 100%;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0.25rem;
    /* overflow: hidden; */
    border: 1px solid rgb(168, 168, 168);
}

td, th {
    padding: 1rem;
}

tr:hover {
    background-color: rgb(213, 223, 233);
}
tr:first-child {
    background-color: rgb(180, 195, 209);
    border-radius: 20px;
    overflow: hidden;
}

tr {
    background-color: aliceblue;
}

.card h2:not(:first-child) {
    margin-top: 3rem;
}

.bi.bi-check2 {
    color: rgb(25, 185, 0);
    font-weight: bold;
    font-size: 2rem;
}

.bi.bi-x {
    color: rgb(211, 32, 32);
    font-size: 2rem;
}

#container h3:not(:first-child) {
    margin-top: 3rem;
}